/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f2709c, #ff9472);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 90%;
    overflow: hidden;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.login-header h1 {
    color: #ff5722;
    font-size: 1.8rem;
}

.login-header p {
    color: #757575;
    font-size: 0.9rem;
}

.login-image {
    flex-grow: 1;
    width: 50%;
    overflow: hidden;
}

.login-image img {
    width: 80%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
}

form {
    width: 100%;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #ff5722;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #e64a19;
}

.error {
    color: red;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 10px;
}

a {
    color: #ff5722;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
